<ul class="horizontal-list">
  {% for item in include.collection %}

    <li class="card">
      <a href="{{ item.url }}">
        <span class="header">
          {{ item.title }}

          {% if item.highlight %}
            <mark>{{ item.highlight }}</mark>
          {% endif %}

          {% if item.ok %}
            {% if item.ok  == 'pass' %}
	      <mark style="background: green!important">{{ item.ok }}</mark>
            {% else %}
	      <mark style="background: red!important">{{ item.ok }}</mark>
            {% endif %}
          {% else %}
	    N/A
          {% endif %}

        </span>

        <hr />

        {% if item.desc != false %}
        <p class="body">
        </p>
        {% endif %}
      </a>
    </li>

  {% endfor %}
</ul>
